body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fb;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #2563eb;
    color: white;
    padding: 25px;
    margin: 0;
}

p {
    font-size: 20px;
    margin-top: 50px;
    color: #333;
}

button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 15px 25px;
    margin: 15px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1d4ed8;
}
form {
    background-color: white;
    width: 400px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: 90%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

textarea {
    resize: vertical;
}
nav {
    background-color: #1e3a8a;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    padding: 70px 20px;
}

.hero h1 {
    background-color: transparent;
    color: #1e3a8a;
    font-size: 40px;
}

.hero p {
    font-size: 20px;
    color: #555;
}